(04 May 2026) Presentation/index.html
(04 May 2026) Presentation/inter-act-deck.zip
(04 May 2026) Presentation/inter-act-deck/inter-act-deck/index.html
(04 May 2026) Presentation/inter-act-deck/inter-act-deck/lifecycle.html
(04 May 2026) Presentation/inter-act-deck/inter-act-deck/nav.js
(04 May 2026) Presentation/inter-act-deck/inter-act-deck/styles.css
(04 May 2026) Presentation/inter-act-deck/inter-act-deck/assets/Aisune_logo.png
(04 May 2026) Presentation/inter-act-deck/inter-act-deck/assets/bg_moon.png
(04 May 2026) Presentation/inter-act-deck/inter-act-deck/assets/IN3_logo.png
(04 May 2026) Presentation/inter-act-deck/inter-act-deck/assets/Main_DIgitech_Banner.png
(04 May 2026) Presentation/inter-act-deck/inter-act-deck/assets/moon.png
(04 May 2026) Presentation/inter-act-deck/inter-act-deck/assets/multi-asset_factory_floor.png
(04 May 2026) Presentation/inter-act-deck/inter-act-deck/assets/Ostfalia___clausthal_logo.png
(04 May 2026) Presentation/inter-act-deck/inter-act-deck/assets/today-vs-interact.svg
